<!doctype html>
<html>
    <head>
        <title>Madlibs game</title>
    </head>
    <body>

        <h1>Welcome to Madlibs!</h1>

        Please provide the following info for your madlib:

        <form action="/madlib">
  
            A person <input type="text" name="madlibs-person">
            A color <input type="text" name="madlibs-color">
            A noun <input type="text" name="madlibs-noun">
            An adjective <input type="text" name="madlibs-adjective">
            <input type="submit">
        </form>
    </body>
</html>